In [3]:
import pandas as pd

In [4]:
data_to_load = 'Resources/201908-citibike-tripdata2.csv'
df = pd.read_csv(data_to_load)

df.count()

tripduration               2344224
starttime                  2344224
stoptime                   2344224
start station id           2344135
start station name         2344135
start station latitude     2344224
start station longitude    2344224
end station id             2344135
end station name           2344135
end station latitude       2344224
end station longitude      2344224
bikeid                     2344224
usertype                   2344224
birth year                 2344224
gender                     2344224
tripDuration_dt            2344224
dtype: int64

In [7]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,2.344224e+06,2.344135e+06,2.344224e+06,2.344224e+06,2.344135e+06,2.344224e+06,2.344224e+06,2.344224e+06,2.344224e+06,2.344224e+06
mean,1.050173e+03,1.663948e+03,4.073724e+01,-7.398197e+01,1.659298e+03,4.073686e+01,-7.398212e+01,2.944990e+04,1.980934e+03,1.154810e+00
std,1.193846e+04,1.479112e+03,3.048848e-02,2.037811e-02,1.479590e+03,3.041781e-02,2.048097e-02,7.620555e+03,1.195674e+01,5.685507e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.406860e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.890000e+02,3.800000e+02,4.071745e+01,-7.399596e+01,3.800000e+02,4.071723e+01,-7.399662e+01,2.499600e+04,1.970000e+03,1.000000e+00
50%,6.740000e+02,5.130000e+02,4.073705e+01,-7.398565e+01,5.090000e+02,4.073653e+01,-7.398602e+01,3.069000e+04,1.984000e+03,1.000000e+00
75%,1.185000e+03,3.295000e+03,4.075757e+01,-7.397111e+01,3.296000e+03,4.075715e+01,-7.397115e+01,3.510900e+04,1.991000e+03,2.000000e+00
max,3.812666e+06,3.810000e+03,4.086900e+01,-7.387800e+01,3.810000e+03,4.086900e+01,-7.387800e+01,4.002500e+04,2.003000e+03,2.000000e+00

In [11]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
tripDuration_dt             object
dtype: object

In [12]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripDuration_dt
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2,1970-01-01 00:06:33
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2,1970-01-01 00:10:27
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1,1970-01-01 00:18:52
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1,1970-01-01 00:29:40
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2,1970-01-01 00:25:17

In [13]:
df['Date'] = pd.to_datetime(df['starttime'])

In [14]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripDuration_dt,Date
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2,1970-01-01 00:06:33,2019-08-01 00:00:01.468
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2,1970-01-01 00:10:27,2019-08-01 00:00:01.929
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1,1970-01-01 00:18:52,2019-08-01 00:00:04.048
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1,1970-01-01 00:29:40,2019-08-01 00:00:04.163
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2,1970-01-01 00:25:17,2019-08-01 00:00:05.458

In [15]:
df.dtypes

tripduration                        int64
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
tripDuration_dt                    object
Date                       datetime64[ns]
dtype: object

In [17]:
df['DayOfMonth']=df[ "Date"].dt.day

In [22]:
Numperday = []
Numperday = df.groupby(['DayOfMonth'])['bikeid'].count()

In [23]:
ave = Numperday.mean()
print(ave)

75620.12903225806

In [24]:
std = Numperday.std()
print(std)

8396.07613012148

In [29]:

gthour = df[df.tripduration > 3600 ]

gthour["tripduration"].count()

27544